<form class="form">
    <div class="form__field">
        <input type="text" class="form__field-input">
        <div class="form__field-placeholder">Ваше имя</div>
    </div>
    <div class="form__field">
        <input type="text" class="form__field-input">
        <div class="form__field-placeholder">Как с Вами связаться</div>
    </div>
    <div class="form__field">
        <input type="text" class="form__field-input">
        <div class="form__field-placeholder">Текст вопроса</div>
    </div>
    <button class="form__button button _secondary">Отправить</button>
</form>