.form{
    
    // mods
	
	// elements
	&__{
		&field{
            @extend small;
            
            position: relative;
            
            padding-bottom: .5em;
            border-bottom: 1px solid $color__black;
            margin-bottom: $gutter;
            
            &-{
                &placeholder{
                    position: absolute 0;
                    
                    color: $color__gray;
                    
                    transform-origin: 0 center;
                    transition: $duration;
                }
                &input{
                    position: relative;
                    z-index: 10;
                }
                &input._dirty + &placeholder,
                &input:focus + &placeholder{
                    transform: translateY(-100%) scale(.75);
                    
                    color: initial;
                }
            }
        }
        &field:not(._dirty) ~ &button{
            background: $color__gray;
            pointer-events: none;
        }
        &button{
            margin-top: calc($gutter * 1.5);
        }
	}
}