doctype html
html.g-doc(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title
      | Cобору быть! | Благотворительный фонд | Мурманский Спасо-Преображенский морской кафедральный собор
    link(rel='stylesheet', href='styles.css')
    link(rel='shortcut icon', href='img/favicon.png')
    noscript
      style.
        body{
        margin-top: 50px;
        }
        .g-errors__nojs{
        display: block;
        }
    script(src='async.app.js', async='')
    script(src='defer.app.js', defer='')
  body.g-page
    .header
      .header__content.section__content
        .header__menu.menu__toggle
        .header__logo
          .header__logo-icon
            .i-logo
          .header__logo-name собору быть!
        .header__title
          .header__subtitle благотворительный фонд
          |  Мурманский Спасо-Преображенский 
          br
          |  морской кафедральный собор
        .header__search.search__toggle
      .search
        .search__field
          .section__content
            .search__content
              input.search__input(type='search', value='Благот')
              button.search__submit
        .search__results
          .section__content
            a.search__result(href='#') Lorem ipsum dolor sit.
            a.search__result(href='#') Lorem ipsum dolor sit.
    nav.menu.section
      .menu__content.section__content
        .menu__search
          input.menu__search-input(type='search')
        .menu__grid
          .menu__item
            a.menu__link(href='#') новости
            .menu__submenu
              a.menu__sublink(href='#') Концепция
              a.menu__sublink(href='#') Историческая справка
              a.menu__sublink(href='#') Концепция
          .menu__item
            a.menu__link(href='#') о фонде
            .menu__submenu
              a.menu__sublink(href='#') Концепция
              a.menu__sublink(href='#') Историческая справка
              a.menu__sublink(href='#') Концепция
          .menu__item
            a.menu__link(href='#') Митрополит Симон
            .menu__submenu
              a.menu__sublink(href='#') Концепция
              a.menu__sublink(href='#') Историческая справка
              a.menu__sublink(href='#') Концепция
          .menu__item
            a.menu__link(href='#') видео
            .menu__submenu
              a.menu__sublink(href='#') Концепция
              a.menu__sublink(href='#') Историческая справка
              a.menu__sublink(href='#') Концепция
          .menu__item
            a.menu__link._active(href='#') благотворители
            .menu__submenu
              a.menu__sublink(href='#') Концепция
              a.menu__sublink(href='#') Историческая справка
              a.menu__sublink(href='#') Концепция
          .menu__item
            a.menu__link(href='#') О соборе
            .menu__submenu
              a.menu__sublink(href='#') Концепция
              a.menu__sublink(href='#') Историческая справка
              a.menu__sublink(href='#') Концепция
        .menu__line
    .section._separated
      .section__content.section__grid
        .section__main
          .article
            h3.article__title Lorem ipsum dolor.
            img(src='http://placehold.alanev.ru/750x500', alt='', width='750', height='500')
            .carousel
              h3.title._with_arrows
                | Lorem ipsum.
                .title__arrows
                  .title__arrow.carousel__arrow._prev
                  .title__arrow.carousel__arrow._next
              .carousel__item._active
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ipsa mollitia adipisci deleniti beatae ab dolorem! Maiores odio quo quas! Tenetur praesentium, architecto rem nemo numquam similique, dolores porro debitis?
                img(src='http://placehold.alanev.ru/165x100', alt='', width='165', height='100')
              .carousel__item
                img(src='http://placehold.alanev.ru/165x100', alt='', width='165', height='100')
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ipsa mollitia adipisci deleniti beatae ab dolorem! Maiores odio quo quas! Tenetur praesentium, architecto rem nemo numquam similique, dolores porro debitis?
          article.article
            h3.article__title Заголовок новости №1
            time.article__date 17 ноября, 2015
            img(src='http://placehold.alanev.ru/750x500', alt='', width='750', height='500')
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
              | montes. nascetur ridiculus mus.
          .table__wrap
            table
              thead
                tr
                  td Имя/Название
                  td Месяц
                  td Сертификат
              tbody
                tr
                  th Пупкин Василий
                  td ноябрь 2015 
                  td серебряный
                tr
                  th Пупкин Василий
                  td ноябрь 2015 
                  td серебряный
                tr
                  th Пупкин Василий
                  td ноябрь 2015 
                  td серебряный
          br
          br
          .pagination
            a.pagination__prev(href='#')
            span.pagination__numb._active 1
            a.pagination__numb(href='#') 2
            a.pagination__numb(href='#') 3
            span.pagination__dots
            a.pagination__numb(href='#') 7
            a.pagination__next(href='#')
        .section__aside
          .aside
            .aside__content
              .aside__section
                .type.carousel
                  .type__title Помочь строительству может каждый
                  .carousel__list
                    .carousel__item._active
                      .type__preview
                        img(src='http://placehold.alanev.ru/160x125', alt='', width='160', height='125')
                      .type__price
                        span.type__price-value 1000
                        |  ₽
                      .type__name Кубометр кирпичей
                    .carousel__item
                      .type__preview
                        img(src='http://placehold.alanev.ru/100x125', alt='', width='100', height='125')
                      .type__price
                        span.type__price-value 10000
                        |  ₽
                      .type__name 10 кубометров кирпичей
                  .type__arrow._next.carousel__arrow
                  .type__arrow._prev.carousel__arrow
              .aside__section
                .pay
                  .pay__note
                    | Несколько слов о том, что такое кубометр кирпичей. При пожертвовании на эту сумму Вам будет предоставлен 
                    a.pay__link(href='#') Серебряный сертификат
                  .pay__form
                    .pay__form-col
                      .pay__field
                        input.pay__input(type='text')
                      .pay__button.button._secondary Сделать пожертвование
                    .pay__form-col.pay__cards
                      .i-pay-visa
                      .i-pay-mc
                  span.pay__link(onclick="document.querySelector('.pay__types').classList.toggle('_active')") Как сделать пожертвование без карты?
                  br
                  .pay__types
                    a.pay__button.pay__type-button.button._white(href='#')
                      .button__icon.i-bank-sber
                      .button__text Сбербанк Онлайн
                    a.pay__button.pay__type-button.button._white(href='#')
                      .button__icon.i-bank-alpha
                      .button__text Альфа-Клик
                    br
                    a.pay__link(href='#') Наличными через терминал
                    br
                    a.pay__link(href='#') По квитанции в Сбербанке
                    br
                    a.pay__link(href='#') По квитанции в Альфа-банке
              .aside__section
                .helper.carousel
                  .helper__title
                    | Кто уже помог нам
                    .helper__arrows
                      .helper__arrow.carousel__arrow._prev
                      .helper__arrow.carousel__arrow._next
                  .carousel__item._active
                    img.helper__preview(src='http://placehold.alanev.ru/260x195', alt='', width='260', height='195')
                    h4.helper__name Семен Кузнецов
                    p.helper__text
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo.
                  .carousel__item
                    img.helper__preview(src='http://placehold.alanev.ru/260x195/ff0ff0', alt='', width='260', height='195')
                    h4.helper__name Кузнецов Семен
                    p.helper__text
                      | Quod eos excepturi error aut adipisci omnis sit, placeat harum alias similique, odio maxime natus, fugit quisquam aspernatur.
      .outro.section
        .section__content
          .l-grid__row
            .l-grid__col._8
              .outro__title Контакты
              .outro__content.l-grid
                .l-grid__row
                  .l-grid__col._5
                    .outro__link
                      span.outro__icon.i-placemark
                      |  183031, г. Мурманск, 
                      br
                      | пр. Героев Североморцев, д. 1 
                      br
                      | (храм «Спас-на-Водах»)
                  .l-grid__col._4
                    a.outro__link(href='tel:+78152783252')
                      span.outro__icon.i-phone
                      |  (+7 8152) 78-32-52
                      br
                    a.outro__link.outro__additional(href='tel:+79217083252')
                      | +7 921 708-32-52
                      br
                    a.outro__link(href='mailto:mail@sobor-murman.ru')
                      span.outro__icon.i-email
                      |  mail@sobor-murman.ru
                  .l-grid__col._3.outro__additional
                    | ИНН 5190995488
                    br
                    |  КПП 519001001
                    br
                    |  ОГРН 1115100000872
                .outro__additional
                  p.outro__note
                    | Некоммерческая организация "Благотворительный фонд "Мурманский Спасо-Преображенский морской кафедральный собор". Официальное сокращенное наименование “БФ “ММКС”
                  br
                  a.button._primary(href='#') Реквизиты фонда
            .l-grid__col._4.outro__form
              .outro__title Обратная связь
              form.form
                .form__field
                  input.form__field-input(type='text')
                  .form__field-placeholder Ваше имя
                .form__field
                  input.form__field-input(type='text')
                  .form__field-placeholder Как с Вами связаться
                .form__field
                  input.form__field-input(type='text')
                  .form__field-placeholder Текст вопроса
                button.form__button.button._secondary Отправить
      .footer
        .footer__content
          small
            | © 2015 НКО Благотворительный фонд "Мурманский Спасо-Преображенский морской кафедральный собор"
          br
          small Перепечатка материалов возможна только со ссылкой на источник
      .g-errors
        .g-errors__item.g-errors__nojs Для корркетного отображения сайта включите JavaScript!
        .g-errors__item.g-errors__popup.g-errors__old
          | Для корркетного отображения сайта обновите браузер:
          br
          a(href='http://www.google.com/chrome/', target='_blank')
            img.g-errors__logo(src='img/firefox.png', alt='Firefox', width='100', height='100')
          a(href='http://www.mozilla.org/firefox/', target='_blank')
            img.g-errors__logo(src='img/chrome.png', alt='Chrome', width='100', height='100')
