$button__width: 190px;
$button__height: 40px;
.button{
    @extend small;
    
    display: inline-block;
    
    box-sizing: border-box;
    width: $button__width;
    height: $button__height;
    
    line-height: $button__height;
    
    border-radius: $radius;
    text-align: center;
    color: $color__white;
    
    transition: $duration;
    
    display: flex;
    justify-content: center;
	
	// mods
    &:hover{
        cursor: pointer;
    }
    
    &._primary{
        box-shadow: inset 0 0 0 1px $color__gray;
        color: $color__gray;
        
        &:hover{
            box-shadow: none;
            background: $color__primary;
            color: white;
        }
    }
    &._secondary{
        background: $color__secondary;
    }
    &._gray{
        background: $color__gray;
    }
    &._white{
        background: $color__white;
        border: 1px solid $color__gray;
        color: $color__gray;
    }
    &._disabled{
        pointer-events: none;
        background: $color__gray;
        cursor: default;
    }
    // elements
    &__{
        &icon{
            margin: 0 .5rem 0 0;
        }
        &text{
            @media (--tablet-more) {
                min-width: 70%;
            }
        }
    }
}