.type{
    
    font-weight: 500;
    
    position: relative;
	
	// elements
	&__{
        &arrow{
            position: absolute;
            top: 45%;
            
            &._prev{
                left: 0;
            }
            &._next{
                right: 0;
            }
        }
		&title{
            line-height: 1.5;
            
            text-transform: uppercase;
        }
        &preview{
            margin: $gutter 0;
            
            text-align: center;
        }
        &price{
            font-size: $font__size_big;
        }
	}
}