<div class="type carousel">
    <div class="type__title">Помочь строительству может каждый</div>
    <div class="carousel__list">
        <div class="carousel__item _active">
            <div class="type__preview">
                <img src=":160x125" alt="">
            </div>
            <div class="type__price"><span class="type__price-value">1000</span> ₽</div>
            <div class="type__name">Кубометр кирпичей</div>
        </div>
        <div class="carousel__item">
            <div class="type__preview">
                <img src=":100x125" alt="">
            </div>
            <div class="type__price"><span class="type__price-value">10000</span> ₽</div>
            <div class="type__name">10 кубометров кирпичей</div>
        </div>
    </div>
    <div class="type__arrow _next carousel__arrow"></div>
    <div class="type__arrow _prev carousel__arrow"></div>
</div>