<nav class="menu section">
    <div class="menu__content section__content">
        <div class="menu__search">
            <input type="search" class="menu__search-input">
        </div>
        <div class="menu__grid">
            <div class="menu__item">
                <a href="#" class="menu__link">новости</a>
                <div class="menu__submenu _no_max-width">
                    <a href="#" class="menu__sublink">Концепция</a>
                    <a href="#" class="menu__sublink">Историческая справка</a>
                    <a href="#" class="menu__sublink">Концепция</a>
                </div>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">о фонде</a>
                <div class="menu__submenu _no_max-width">
                    <a href="#" class="menu__sublink">Концепция</a>
                    <a href="#" class="menu__sublink">Историческая справка</a>
                    <a href="#" class="menu__sublink">Концепция</a>
                </div>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">Митрополит Симон</a>
                <div class="menu__submenu _no_max-width">
                    <a href="#" class="menu__sublink">Концепция</a>
                    <a href="#" class="menu__sublink">Историческая справка</a>
                    <a href="#" class="menu__sublink">Концепция</a>
                </div>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">видео</a>
                <div class="menu__submenu _no_max-width">
                    <a href="#" class="menu__sublink">Концепция</a>
                    <a href="#" class="menu__sublink">Историческая справка</a>
                    <a href="#" class="menu__sublink">Концепция</a>
                </div>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link _active">благотворители</a>
                <div class="menu__submenu _no_max-width">
                    <a href="#" class="menu__sublink">Концепция</a>
                    <a href="#" class="menu__sublink">Историческая справка</a>
                    <a href="#" class="menu__sublink">Концепция</a>
                </div>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">О соборе</a>
                <div class="menu__submenu _no_max-width">
                    <a href="#" class="menu__sublink">Концепция</a>
                    <a href="#" class="menu__sublink">Историческая справка</a>
                    <a href="#" class="menu__sublink">Концепция</a>
                </div>
            </div>
        </div>
        <div class="menu__line"></div>
    </div>
</nav>