.menu{
    
    @media (--tablet-less) {
        position: fixed 0 * 0 0;
        width: 70%;
        height: 100%;
    
        background: $color__gray_dark;
        color: color(white a(.8));
        
        transform: translateX(-100%);
        transition: $duration;
    }
	
	// elements
	&__{
        &content{
            @media (--tablet-less) {
                max-height: 100vh;
                overflow: auto;
            }
        }
        &grid{
            @media (--tablet-more) {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
            }
        }
		&link{
            font-weight: 500;
            
            text-transform: uppercase;
            
            &._active,
            &:hover{ 
                color: $color__secondary;
            }
        }
        &line{
            
            @media (--tablet-more) {
                box-sizing: content-box;
                height: 1px;
                border: 0 solid black;
                border-width: 2px 0;
            }
        }
        &item{
            position: relative;
            
            @media (--tablet-more) {
                padding: calc($gutter + .5rem) 0;
            }
            @media (--tablet-only) {
                font-size: 1.1rem;
            }
            @media (--tablet-less) {
                margin: $gutter 0;
            }
        }
        &item:hover &submenu{
            display: block;
        }
        &item:last-child &submenu{
            left: auto;
            right: 0;
        }
        &submenu{
            
            padding: $gutter;
            
            @media (--tablet-more) {
                display: none;
                
                position: absolute 100% * * 0;
                z-index: 20;
                
                max-width: initial;
                border-top: 1px solid $color__gray;
            
                box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
                background: white;
            }
        }
        &sublink{
            @extend small;
            
            display: block;
            
            &:not(:last-child){
                margin-bottom: 1rem;
            }
            &:hover{
                color: $color__secondary;
            }
            
            @media (--tablet-more) {
                font-weight: 500;
                white-space: nowrap;
                
                text-transform: uppercase;
            }
            @media (--tablet-less) {
                font-size: initial;
            }
        }
        &search{
            margin-top: 20px;
            
            position: relative;
            
            @media (--tablet-more) {
                display: none;
            }
            
            &:after{
                content: '';
                position: absolute calc(50% - .5rem) * * 1rem;
                size: 1rem;
                background-image: svg(search param(--color white) param(--opacity .3));
                background-size: cover;
            }
            &-{
                &input{
                    box-sizing: border-box !important;
                    width: 100%;
                    padding: 0 1rem 0 3rem;
                    
                    height: 50px;
                    line-height: 50px;
                    
                    border-radius: 1px;
                    background: color(white a(.1));
                }
            }
        }
	}
}