.programs{
    
    // mods
    &:not(:last-child){
        margin-bottom: calc($gutter * 1.5);
    }
    @media (--desktop-less) {
        align-items: center;
    }
    @media (--tablet-more) {
        text-align: center;
    }
    @media (--tablet-less) {
        text-align: left;
    }
	
	// elements
	&__{
        &program{
            max-width: 500px;
            
            @media (--desktop-less) {
                &:not(:last-child){
                    margin-bottom: $gutter;
                }
            }
        }
        &title{
            @extend .title;
        }
        &text{
            @extend small;
            
            display: inline-block;
            max-width: 80%;
        }
		&more{
            display: inline-block;
            
            margin-top: $gutter_secondary;
        }
	}
}