<div class="programs l-grid__row">
    <div class="programs__program l-grid__col _4" repeat="3">
        <div class="programs__title">Золотой фонд благотворителей</div>
        <div class="programs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</div>
        <a href="#" class="programs__more button _primary">Подробнее</a>
    </div>
</div>
<div class="programs l-grid__row">
    <div class="programs__program l-grid__col _4" repeat="3">
        <div class="programs__title">Золотой фонд благотворителей</div>
        <div class="programs__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</div>
        <a href="#" class="programs__more button _primary">Подробнее</a>
    </div>
</div>