[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-arrow:before {
	width: 8px;
	height: 12px;
	background-position: -57px -55px;
}
.i-bank-alpha:before {
	width: 19px;
	height: 27px;
	background-position: -112px -32px;
}
.i-bank-sber:before {
	width: 27px;
	height: 27px;
	background-position: -112px 0px;
}
.i-email:before {
	width: 20px;
	height: 16px;
	background-position: -56px -72px;
}
.i-logo:before {
	width: 52px;
	height: 67px;
	background-position: 0px 0px;
}
.i-pay-mc:before {
	width: 50px;
	height: 50px;
	background-position: -57px 0px;
}
.i-pay-visa:before {
	width: 51px;
	height: 18px;
	background-position: 0px -72px;
}
.i-phone:before {
	width: 18px;
	height: 18px;
	background-position: -112px -64px;
}
.i-placemark:before {
	width: 14px;
	height: 20px;
	background-position: 0px -117px;
}
.i-search:before {
	width: 18px;
	height: 17px;
	background-position: 0px -95px;
}
