[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-arrow:before {
	width: 8px;
	height: 12px;
	background-position: -57px -55px;
}
.i-logo:before {
	width: 52px;
	height: 67px;
	background-position: 0px 0px;
}
.i-pay-visa:before {
	width: 51px;
	height: 18px;
	background-position: 0px -72px;
}
.i-pay.mc:before {
	width: 50px;
	height: 50px;
	background-position: -57px 0px;
}
.i-search:before {
	width: 18px;
	height: 17px;
	background-position: -56px -72px;
}
