<div class="footer">
    <div class="footer__content">
        <small>© 2015 НКО Благотворительный фонд "Мурманский Спасо-Преображенский морской кафедральный собор"</small>
        <br>
        <small>Перепечатка материалов возможна только со ссылкой на источник</small>
    </div>
</div>