.footer{
    
    text-align: center;
    color: $color__font_secondary;
    
    @media (--tablet-more) {
        padding: $gutter 0;
        border-top: 1px solid $color__gray;
    }
    @media (--tablet-less) {
        padding: 0 0 calc($gutter * 1.5);
        text-align: left;
    }
	
	// elements
	&__{
		&content{
            @extend .section__content;
        }
	}
}