.g-page{
    
    font-size: $font__size;
    font-family: $font__famaly_primary;
    
    transition: $duration;
    
    &._menu_show{
        @media (--tablet-less) {
            overflow: hidden;
            transform: translateX(70%);
        }
    }
}