p{
    margin: .5em 0;
    
    line-height: 1.5;
    color: color(black a(.8));
}
dl{
    @extend .l-grid__row;
    
    & ~ p{
        margin: 0;
        line-height: 1;
    }
}
dt, dd{
    margin: .5em 0;
}
dt{
    @extend .l-grid__col;
    @extend .l-grid__col._4;
}
dd{
    @extend .l-grid__col;
    @extend .l-grid__col._8;
    
    color: $color__font_secondary;
}
pre{
    white-space: pre-wrap;
}
code{
    font-family: $font__famaly_primary;
}
kbd{
    font-family: $font__famaly_monospace;
    
    color: $color__primary;
}
small{
    font-size: $font__size_small;
}
a{
    text-decoration: none;
    color: inherit;
    
    &:not([class]){
        text-decoration: underline;
        color: $color__secondary;
        
        &:hover{
            text-decoration: none;
        }
    }
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    
    object-fit: cover;
}
figure{
    margin: $gutter 0;
    
    position: relative;
    align-items: center;
    
    figcaption{
        
        @media (--desktop-more) {
            flex: 1 0 0%;
        }
        
        &.title{
            position: absolute * 0 0 0;
            
            line-height: 0;
        }
    }
}

// table
.table__wrap{
    overflow: auto;
    
    @media (--tablet-more) {
        border: 1px solid $color__gray;
    }
    @media (--tablet-less) {
        box-shadow: 0 0 5px color(black a(.5));
    }
}
table{
    width: 100%;
    
    border-collapse: collapse;
    table-layout: fixed;
}
thead{
    @extend small;
    
    color: color(black a(.7));
}
tbody{
    color: color(black a(.8));
}
tr{
    transition: $duration;
    
    tbody &:hover{
        background: color($color__gray a(.4));
    }
    tbody &{
        border-top: 1px solid $color__gray;
    }
}
th, td{
    padding: 1rem $gutter_secondary;
    
    &:not(:first-child){
        text-align: right;
    }
}
th{
    font-weight: 500;
    
    color: color(black a(.9));
}