<h1>Lorem ipsum dolor sit amet.</h1>
<h2>Lorem ipsum dolor sit amet.</h2>
<h3>Lorem ipsum dolor sit amet.</h3>
<h4>Lorem ipsum dolor sit amet.</h4>
<h5>Lorem ipsum dolor sit amet.</h5>
<h6>Lorem ipsum dolor sit amet.</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, molestiae? Fuga provident iusto, quisquam ad nisi molestias eum laboriosam exercitationem accusamus. Libero, numquam. Ex sit, et impedit nisi optio provident.</p>
<p>
    <mark>Lorem ipsum dolor sit amet.</mark>
</p>
<p>
    <del>Lorem ipsum dolor sit amet.</del>
</p>
<p>
    <s>Lorem ipsum dolor sit amet.</s>
</p>
<p>
    <ins>Lorem ipsum dolor sit amet.</ins>
</p>
<p>
    <u>Lorem ipsum dolor sit amet.</u>
</p>
<p>
    <small>Lorem ipsum dolor sit amet.</small>
</p>
<p>
    <strong>Lorem ipsum dolor sit amet.</strong>
</p>
<p>
    <b>Lorem ipsum dolor sit amet.</b>
</p>
<p>
    <i>Lorem ipsum dolor sit amet.</i>
</p>
<p>
    <a href="#">Lorem ipsum dolor sit amet.</a>
</p>
<p>Lorem ipsum dolor sit <abbr title="Lorem ipsum dolor">LID</abbr>.</p>
<p><cite>Lorem ipsum dolor sit amet.</cite></p>
<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, provident.</blockquote>
<ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <ul>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit.</li>
    </ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
</ul>
<ol>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit.</li>
</ol>
<dl>
    <dt>Lorem ipsum.</dt>
    <dd>Lorem ipsum dolor sit amet.</dd>
    <dt>Lorem ipsum.</dt>
    <dd>Lorem ipsum dolor sit amet.</dd>
    <dt>Lorem ipsum.</dt>
    <dd>Lorem ipsum dolor sit amet.</dd>
</dl>
<div class="table__wrap">
    <table>
        <thead>
            <tr>
                <td>Имя/Название</td>
                <td>Месяц</td>
                <td>Сертификат</td>
            </tr>
        </thead>
        <tbody>
            <tr repeat="3">
                <th>Пупкин Василий</th>
                <td>ноябрь 2015 </td>
                <td>серебряный</td>
            </tr>
        </tbody>
    </table>
</div>