.aside{
    
    @media (--tablet-less) {
        padding-bottom: $gutter;
        margin-bottom: -calc(2 * $gutter);
    }
	
	// elements
	&__{
		&section{
            &:not(:last-child){
                margin-bottom: calc($gutter * .75);
            }
        }
	}
}