<div class="aside">
    <div class="aside__content">
        <div class="aside__section">
            <import src="type"></import>
        </div>
        <div class="aside__section">
            <import src="pay"></import>
        </div>
        <div class="aside__section">
            <import src="helper"></import>
        </div>
    </div>
</div>