.header{
    @extend .section;
    
    padding: $gutter 0;
    
    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;
    color: $color__primary;
    
    position: relative;
    
    @media (--tablet-more) {
        border-bottom: 1px solid color(black a(.15));
    }
    @media (--tablet-less) {
        &:after{
            content: '';
            height: 5px;
            position: absolute 100% 0 * 0;
            border: 0 solid black;
            border-width: 2px 0;
        }
    }
	
	// elements
	&__{
		&content{
            @extend .section__content;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @media (--tablet-less) {
                justify-content: center;
            }
        }
        &logo{
            @extend small;
            
            display: flex;
            align-items: flex-end;
            
            &-{
                &name{
                    margin-left: -5px;
                    line-height: .75;
                }
            }
        }
        &title{
            position: absolute 50% * * 50%;
            transform: translate(-50%,-50%);
            
            @media (--tablet-less) {
                display: none;
            }
        }
        &search{
            @media (--tablet-less) {
                display: none;
            }
        }
        &subtitle{
            @extend small;
        }
        &menu{
            @media (--tablet-more) {
                display: none;
            }
            @media (--tablet-less) {
                position: absolute 50% * * 1rem;
            
                cursor: pointer;
                
                box-sizing: content-box;
                size: 30px 2px;
                padding: 5px 0;
                border: 0 solid black;
                border-width: 2px 0;
                
                background: black;
                background-clip: content-box;
                
            }
        }
	}
}