<div class="header">
    <div class="header__content section__content">
        <div class="header__menu menu__toggle"></div>
        <div class="header__logo">
            <div class="header__logo-icon">
                <div class="i-logo"></div>
            </div>
            <div class="header__logo-name">собору быть!</div>
        </div>
        <div class="header__title">
            <div class="header__subtitle">благотворительный фонд</div> Мурманский Спасо-Преображенский <br> морской кафедральный собор
        </div>
        <div class="header__search search__toggle"></div>
    </div>
    <import src="search"></import>
</div>