$color__white: #fff;
$color__black: #000;

$color__red: #ed1c24;
$color__blue: #0155a6;
$color__gray: #c1c1c1;
$color__gray_light: #f7f7f6;
$color__gray_dark: #343434;

$color__primary: $color__red;
$color__secondary: $color__blue;

$color__font_primary: $color__black;
$color__font_secondary: color($color__black a(.7));