$font__famaly_sans-serif: Roboto, Arial, Helvetica, sans-serif;
$font__famaly_monospace: Roboto Mono, monospace;
$font__famaly_serif: Playfair Display, 'Times New Roman', Times, serif;

$font__famaly_primary: $font__famaly_sans-serif;
$font__famaly_secondary: $font__famaly_serif;

$font__size: 1.1875rem;
$font__size_small: 0.875rem;
$font__size_big: 1.875rem;
$font__size_huge: 4.0625rem;

$font__size_subtitle: 1.25rem;
$font__size_title: 2.5rem;