@svg arrow-left {
    @path {
        fill: transparent;
        stroke: var(--color, black);
        stroke-width: 1.5;
        opacity: var(--opacity, .5);
        d: M6 0 L1 5 L6 10;
    }
}
@svg arrow-right {
    @path {
        fill: transparent;
        stroke: var(--color, black);
        stroke-width: 1.5;
        opacity: var(--opacity, .5);
        d: M0 0 L5 5 L0 10;
    }
}
@svg arrow-down {
    @path {
        fill: transparent;
        stroke: var(--color, black);
        stroke-width: 1.5;
        opacity: var(--opacity, .5);
        d: M0 0 L5 5 L10 0;
    }
}
@svg search {
    width: 36px;
    height: 36px;
    
    @path {
        fill: transparent;
        fill: var(--color, black);
        opacity: var(--opacity, .5);
        d: M35.525 31.228l-8.88-8.882c1.444-2.238 2.298-4.895 2.298-7.752C28.943 6.684 22.505.25 14.597.25 6.687.25.254 6.686.254 14.595c0 7.91 6.433 14.344 14.343 14.344 2.856 0 5.513-.85 7.752-2.294l8.88 8.88c.294.297.78.297 1.075 0l3.22-3.22c.3-.296.3-.78 0-1.076zM4.81 14.593c0-5.396 4.39-9.788 9.788-9.788 5.398 0 9.787 4.392 9.787 9.788 0 5.398-4.39 9.79-9.787 9.79-5.398 0-9.788-4.392-9.788-9.79z;
    }
}
@svg cross {
    width: 10px;
    height: 10px;
    
    @path {
        fill: transparent;
        stroke: var(--color, black);
        stroke-width: 1.5;
        opacity: var(--opacity, .5);
        d: M0 0 L10 10 M0 10 L10 0;
    }
}