@custom-selector :--heading h1, h2, h3, h4, h5;

.title{
    
    margin: 0 0 1em;
    
    font-family: $font__famaly_secondary;
    font-weight: 700;
    
    // mods
    &._colored{
        color: $color__red;
    }
    &._big{
        font-size: $font__size_big;
    }
    &._huge{
        font-size: $font__size_huge;
    }
    h1&{
        font-size: $font__size_title;
    }
    &._with_arrows{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    // elements
    &__{
        &arrows{
            display: flex;
        }
        &arrow{
            &:last-child{
                margin-left: .5rem;
            }
        }
    }
}