.intro{
    padding: $gutter 0;
    border-bottom: 1px solid $color__gray;
    
    color: $color__font_secondary;
	
	// elements
	&__{
		&content{
            @extend .section__content;
            
            display: flex;
            align-items: center;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &preview{
            @media (--tablet-less) {
                width: 100%;
            }
        }
        &img{
            @media (--tablet-less) {
                min-width: 100%;
                height: auto;
            }
        }
        &text{
            flex: 1 0 0%;
            
            padding: 0 0 calc(2 * $gutter);
            
            position: relative;
            
            @media (--tablet-more) {
                margin-left: calc($gutter * 1.5);
            }
            
            &:after{
                content: '';
                size: 10px 6px;
                position: absolute * * 0 *;
                background-image: svg(arrow-down);
                background-size: cover;
                
                @media (--tablet-more) {
                    left: 30%;
                }
                @media (--tablet-less) {
                    left: 50%;
                }
            }
        }
	}
}