<div class="intro">
    <div class="intro__content">
        <div class="intro__preview"><img src=":260x200" alt="" class="intro__img"></div>
        <p class="intro__text">Вступительные слова о том, что на этом сайте происходит сбор средств для строительства Мурманского морского кафедрального собора. Возможно, здесь должна быть сильная цитата митрополита.</p>
    </div>
</div>