.breadcrumbs{
    
    display: flex;
    align-items: center;
	
	// elements
	&__{
		&item{
            @extend small;
            
            font-weight: 500;
            
            color: $color__font_secondary;
            
            a&:hover{
                color: $color__secondary;
            }
            
            &:not(:last-child):after{
                content: '>';
                margin: 0 1em;
            }
        }
	}
}