<article class="article">
    <h3 class="article__title">Заголовок новости №1</h3>
    <time class="article__date">17 ноября, 2015</time>
    <img src=":750x500" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes. nascetur ridiculus mus. </p>
</article>