.article{
	
    padding: $gutter 0;
    
    background-repeat: no-repeat;
    background-position: right $gutter;
    
    // mods
    &:not(:last-of-type){
        border-bottom: 1px solid $color__gray;
    }
    
	// elements
    p{
        color: $color__font_secondary;
    }
	&__{
		&title{
            @extend .title;
            @extend h1.title;
            
            
            text-align: center;
            
            + img{
                margin-bottom: $gutter;
            }
        }
        &date{
            @extend small;
            
            display: block;
            margin: -calc($gutter * .5) 0 $gutter;
            
            text-align: center;
            color: $color__gray;
            
            + img{
                margin-bottom: $gutter;
            }
        }
        &more{
            color: $color__secondary;
            
            &:hover{
                text-decoration: underline;
            }
            
            &:after{
                content: 'Показать весь текст';
                
                cursor: pointer;
            }
            &._active:after{
                content: 'Скрыть текст';
            }
        }
        &more._active + &hidden{
            display: block;
        }
        &hidden{
            display: none;
        }
	}
}