<article class="benefit article" style="background-image:url(http://placehold.alanev.ru/425x205/f0f0f0/fff)">
    <h3 class="benefit__title article__title">Я — патриот</h3>
    <div class="benefit__text">
        <p>Для меня Мурманский Спасо-Преображенский морской кафедральный собор – символ России на северных рубежах нашей Родины. Издревле церкви и монастыри были форпостами земли Русской. Задолго до появления границы в сегодняшнем понимании и виде, именно храмы являлись знаком принадлежности земель.</p>
        <div class="article__more"></div>
        <div class="article__hidden">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem, placeat nostrum eaque? Pariatur magnam, modi nulla corporis temporibus nostrum ducimus aut obcaecati a quaerat libero placeat doloribus impedit iste.</p>
        </div>
    </div>
</article>