.carousel{
	
	// elements
	&__{
		&arrow{
            size: 6px 10px;
            
            user-select: none;
            cursor: pointer;
            
            &._prev{
                background: svg(arrow-left);
                
                &:hover{
                    background: svg(arrow-left param(--color $color__secondary) param(--opacity 1));
                }
            }
            &._next{
                background: svg(arrow-right);
                
                &:hover{
                    background: svg(arrow-right param(--color $color__secondary) param(--opacity 1));
                }
            }
        }
        &item{
            &:not(._active){
                display: none;
            }
        }
	}
}