*{
    box-sizing: border-box;
    
    &:not(._no_max-width){
        max-width: 100%;
    }
    
    &:after,
    &:before{
        box-sizing: border-box;
    }
}
menu{
    padding: 0;
    margin: 0;
}
input,
select,
button{
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}