<div class="news">
    <img src=":345x180" alt="" class="news__preview">
    <div class="news__content">
        <h3 class="news__title">Lorem ipsum.</h3>
        <div class="news__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla illo quasi animi recusandae minima pariatur, itaque alias dolorem! Error, ipsa.</div>
        <a href="#" class="news__more button _primary">Читать подробнее</a>
        <time class="news__date">12 ноября, 2015</time>
    </div>
</div>