.news{
    
    max-width: 400px;
    
    border: 1px solid color(black a(.05));
    
    text-align: center;
    background: $color__white;
    
    @media (--desktop-less) {
        align-self: center;
        
        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
	
	// elements
	&__{
        &content{
            padding: $gutter_secondary;
        }
        &preview{
            width: 100%;
            height: 180px;
            
            object-fit: cover;
        }
        &title{
            @extend .title;
            
            margin: 0 0 .5em;
        }
        &more{
            display: block;
            
            margin: $gutter auto;
        }
		&text,
        &date{
            @extend small;
        }
        &date{
            display: block;
            margin-top: $gutter;
            
            color: $color__gray;
        }
	}
}