<div class="pay">
    <div class="pay__note">Несколько слов о том, что такое кубометр кирпичей. При пожертвовании на эту сумму Вам будет предоставлен <a href="#" class="pay__link">Серебряный сертификат</a></div>
    <div class="pay__form">
        <div class="pay__form-col">
            <div class="pay__field">
                <input type="text" class="pay__input">
            </div>
            <div class="pay__button button _secondary">Сделать пожертвование</div>
        </div>
        <div class="pay__form-col pay__cards">
            <div class="i-pay-visa"></div>
            <div class="i-pay-mc"></div>
        </div>
    </div>
    <span class="pay__link" onclick="document.querySelector('.pay__types').classList.toggle('_active')">Как сделать пожертвование без карты?</span><br>
    <div class="pay__types">
        <a href="#" class="pay__button pay__type-button button _white">
            <div class="button__icon i-bank-sber"></div>
            <div class="button__text">Сбербанк Онлайн</div>
        </a>
        <a href="#" class="pay__button pay__type-button button _white">
            <div class="button__icon i-bank-alpha"></div>
            <div class="button__text">Альфа-Клик</div>
        </a>
        <br>
        <a href="#" class="pay__link">Наличными через терминал</a><br>
        <a href="#" class="pay__link">По квитанции в Сбербанке</a><br>
        <a href="#" class="pay__link">По квитанции в Альфа-банке</a>
    </div>
</div>