.pay{
	
	// elements
	&__{
        &note{
            @extend small;
            @mixin hidden-phone;
            
            color: $color__gray;
        }
        &note &link:last-child{
            display: inline-block;
            margin-top: .25rem;
        }
        &link{
            @extend small;
            
            display: inline-block;
            
            cursor: pointer;
            color: $color__secondary;
            
            &:hover{
                text-decoration: underline;
            }
        }
        &form{
            margin: calc($gutter * .5) 0;
            
            display: flex;
            justify-content: space-between;
        }
        &field,
        &button{
            width: 100%;
        }
        &field{
            @extend .button;
            
            padding: 0 1rem;
            border: 1px solid color(black a(.15));
            margin: 0 0 .5rem;
            
            font-size: $font__size_big;
            font-weight: 300;
            
            color: $color__gray;
            
            position: relative;
            display: flex;
            
            &:after{
                content: '₽';
            }
        }
        &input{
            width: calc(100% - 1.5rem);
            padding: 0 .5rem 0 0;
            
            text-align: right;
        }
        &form-col:not(&cards){
            flex: 1 0 0%;
            margin-right: 1rem;
        }
		&cards{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &types{
            
            padding: 0 $gutter;
            margin-top: $gutter_secondary;
            
            background: $color__gray_light;
            
            transition: $duration;
            overflow: hidden;
            
            &._active{
                max-height: 400px;
                padding: calc($gutter / 2) $gutter;
                border: 0 solid $color__gray;
                border-width: 1px 0 1px 0;
            }
            &:not(._active){
                max-height: 0;
            }
            a:not(:first-child){
                margin-top: .5rem;
            }
        }
	}
}