<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Cобору быть! | Благотворительный фонд | Мурманский Спасо-Преображенский морской кафедральный собор</title>
	<link rel="stylesheet" href="styles.css">
    <import src="modules/g-errors/g-errors_head.htm"></import>
	
	<script src="async.app.js" async></script>
	<script src="defer.app.js" defer></script>
</head>