<div class="l-grid">
    <div class="l-grid__row">
        <div class="l-grid__col _3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum commodi illum reprehenderit consequatur placeat dicta nemo eaque aut repellendus fugiat et cum, nostrum quasi dolore, sapiente vitae perferendis possimus id.
        </div>
        <div class="l-grid__col _6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum commodi illum reprehenderit consequatur placeat dicta nemo eaque aut repellendus fugiat et cum, nostrum quasi dolore, sapiente vitae perferendis possimus id.
        </div>
        <div class="l-grid__col _3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum commodi illum reprehenderit consequatur placeat dicta nemo eaque aut repellendus fugiat et cum, nostrum quasi dolore, sapiente vitae perferendis possimus id.
        </div>
    </div>
</div>
<div class="l-grid">
    <div class="l-grid__row">
        <div class="l-grid__col _4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum commodi illum reprehenderit consequatur placeat dicta nemo eaque aut repellendus fugiat et cum, nostrum quasi dolore, sapiente vitae perferendis possimus id.
        </div>
        <div class="l-grid__col _4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum commodi illum reprehenderit consequatur placeat dicta nemo eaque aut repellendus fugiat et cum, nostrum quasi dolore, sapiente vitae perferendis possimus id.
        </div>
        <div class="l-grid__col _4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum commodi illum reprehenderit consequatur placeat dicta nemo eaque aut repellendus fugiat et cum, nostrum quasi dolore, sapiente vitae perferendis possimus id.
        </div>
    </div>
</div>