.l-grid{
	
    // mods
    &_centred{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
	// elements
	&__{
		&row{
            display: flex;
            
            @media (--desktop-more) {
                flex-wrap: wrap;
                justify-content: space-between;
            }
            @media (--desktop-less) {
                flex-direction: column;
            }
        }
        &col{
            @media (--desktop-more) {
                &._{
                    @for $i from 1 to 12 {
                        &$i{
                            lost-column: $i/12;
                        }
                    }
                }
            }
        }
	}
}