.helper{
    @mixin hidden-phone;
	
	// elements
	&__{
		&title{
            margin: 0 0 $gutter;
            
            font-weight: 500;
            
            text-transform: uppercase;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &arrows{
            display: flex;
        }
        &arrow{
            &:last-child{
                margin-left: .5rem;
            }
        }
        &preview{
            border-radius: $radius;
        }
        &text{
            @extend small;
            
            margin-top: -.5em;
            
            color: $color__font_secondary;
        }
	}
}