<div class="helper carousel">
    <div class="helper__title">
        Кто уже помог нам
        <div class="helper__arrows">
            <div class="helper__arrow carousel__arrow _prev"></div>
            <div class="helper__arrow carousel__arrow _next"></div>
        </div>
    </div>
    <div class="carousel__item _active">
        <img src=":260x195" alt="" class="helper__preview">
        <h4 class="helper__name">Семен Кузнецов</h4>
        <p class="helper__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo.</p>
    </div>
    <div class="carousel__item">
        <img src=":260x195/ff0ff0" alt="" class="helper__preview">
        <h4 class="helper__name">Кузнецов Семен</h4>
        <p class="helper__text">Quod eos excepturi error aut adipisci omnis sit, placeat harum alias similique, odio maxime natus, fugit quisquam aspernatur.</p>
    </div>
</div>