.section{
    
    // mods
    &._separated{
        padding-top: calc($gutter * 1.5);
        padding-bottom: calc($gutter * 1.5);
    }
    &._colored{
        background: color($color__secondary a(.05));
    }
    
	// elements
    &__{
        &content{
            max-width: calc($content + $gutter * 2);
            padding: 0 $gutter;
            margin: 0 auto;
            
            @media (--tablet-less) {
                max-width: 480px;
            }
        }
        &title{
            @extend .title;
            @extend .title._big;
            
            margin-bottom: 1.5em;
            
            @media (--tablet-more) {
                text-align: center;
            }
            @media (--tablet-less) {
                text-align: left;
            }
        }
        &grid{
            display: flex;
            justify-content: space-between;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        } 
        &main{
            @media (--tablet-more) {
                width: calc(100% - 260px - 150px);
            }
        }
        &aside{
            position: static;
             
            @media (--tablet-more) {
                width: 260px;
                
                margin-left: 150px;
            }
            @media (--tablet-less) {
                align-self: center;
                
                padding-top: 2rem;
                border-top: 1px solid $color__gray;
                margin-top: 2rem;
            }
        }
    }
}