<div class="search">
    <div class="search__field">
        <div class="section__content">
            <div class="search__content">
                <input class="search__input" type="search" value="Благот">
                <button class="search__submit"></button>
            </div>
        </div>
    </div>
    <div class="search__results">
        <div class="section__content">
            <a href="#" class="search__result">Lorem ipsum dolor sit.</a>
            <a href="#" class="search__result">Lorem ipsum dolor sit.</a>
        </div>
    </div>
</div>