.search{
    
    position: absolute 100% 0 * 0;
    z-index: 30;
    
    font-weight: 400;
    
	text-align: left;
    text-transform: none;
    background: color($color__gray_light a(.95));
    color: black;
    
    // mods
    &:not(._active){
        display: none;
    }
    
	// elements
	&__{
        &toggle,
        &submit{
            size: 15px;
            
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }
        &toggle{
            
            &:not(._active){
                background-image: svg(search);
                
                &:hover{
                    background-image: svg(search param(--color $color__secondary) param(--opacity 1));
                }
            }
            &._active{
                background-image: svg(cross);
                
                &:hover{
                    background-image: svg(cross param(--color $color__secondary) param(--opacity 1));
                }
            }
        }
        &content{
            position: relative;
        }
		&field{
            border: 0 solid $color__gray;
            border-width: 1px 0;
        }
        &input{
            height: 70px;
            line-height: 70px;
            
            color: color(black a(.8));
        }
        &submit{
            position: absolute 50% 0 * *;
            transform: translate(0, -50%);
            
            background-image: svg(search param(--color $color__secondary) param(--opacity 1));
        }
        &results{
            padding: $gutter 0;
            border-bottom: 1px solid $color__gray;
        }
        &result{
            @extend small;
            
            display: block;
            
            line-height: 3;
        }
	}
}