<div class="outro section">
    <div class="section__content">
        <div class="l-grid__row">
            <div class="l-grid__col _8">
                <div class="outro__title">Контакты</div>
                <div class="outro__content l-grid">
                    <div class="l-grid__row">
                        <div class="l-grid__col _5">
                            <div class="outro__link">
                                <span class="outro__icon i-placemark"></span>
                                183031, г. Мурманск, <br>пр. Героев Североморцев, д. 1 <br>(храм «Спас-на-Водах»)
                            </div>
                        </div>
                        <div class="l-grid__col _4">
                            <a href="tel:+78152783252" class="outro__link">
                                <span class="outro__icon i-phone"></span>
                                (+7 8152) 78-32-52<br>
                            </a>
                            <a href="tel:+79217083252" class="outro__link outro__additional">+7 921 708-32-52<br></a>
                            <a href="mailto:mail@sobor-murman.ru" class="outro__link">
                                <span class="outro__icon i-email"></span>
                                mail@sobor-murman.ru
                            </a>
                        </div>
                        <div class="l-grid__col _3 outro__additional">
                            ИНН 5190995488<br>
                            КПП 519001001<br>
                            ОГРН 1115100000872
                        </div>
                    </div>
                    <div class="outro__additional">
                        <p class="outro__note">Некоммерческая организация "Благотворительный фонд "Мурманский Спасо-Преображенский морской кафедральный собор". Официальное сокращенное наименование “БФ “ММКС”</p>
                        <br>
                        <a href="#" class="button _primary">Реквизиты фонда</a>
                    </div>
                </div>
            </div>
            <div class="l-grid__col _4 outro__form">
                <div class="outro__title">Обратная связь</div>
                <import src="form"></import>
            </div>
        </div>
    </div>
</div>