.outro{
    
    margin-top: $gutter;
    border-top: 1px solid $color__gray;
    
    @media (--tablet-more) {
        padding: calc($gutter * 1.5) 0;
    }
    @media (--tablet-less) {
        padding: $gutter 0;
    }
    
    ._colored + &{
        border-top: 0;
    }
	
	// elements
	&__{
        &content{
            @extend small;
            
            line-height: 2;
        }
		&title{
            @extend .title;
            @mixin hidden-phone;
            
            padding-bottom: $gutter_secondary;
            border-bottom: 1px solid $color__gray;
            margin-bottom: $gutter;
            
            @media (--desktop-less) {
                margin-top: 1rem;
            }
        }
        &link{
            color: inherit;
            
            @media (--tablet-less) {
                display: flex;
                padding: .5em 0;
            }
        }
        &icon{
            @mixin hidden-tablet;
            
            margin-right: .5rem;
        }
        &note{
            @mixin hidden-phone;
            
            margin-top: 1.5rem;
        }
        &form{
            @mixin hidden-phone;
        }
        &additional{
            @mixin hidden-phone;
        }
	}
}