.banner{
    display: block;
    overflow: hidden;
    
    max-width: 600px;
    
    position: relative;
    
    // mods
    @media (--desktop-more) {
        .l-grid__row:not(:first-child) > &{
            margin-top: $gutter;
        }
    }
    @media (--desktop-less) {
        align-self: center;
        
        margin-bottom: 2rem;
        
        .l-grid__row:last-child > &:last-child{
            margin-bottom: 0;
        }
    }
    
    // mods
    &:hover &__{
        &image{
            
            @media (--tablet-more) {
                transform: scale(1.2);
            }
        }
        &title{
            opacity: 1;
        }
    }
	
	// elements
	&__{
		&image{
            display: block;
            
            width: 100%;
            height: auto;
            padding: calc($gutter * .75);
            border: 1px solid $color__gray;
            
            object-fit: cover;
            
            transition: $duration;
        }
        &title{
            @extend .l-grid_centred;
            @extend .title;
            @extend .title._big;
            
            margin: 0;
            
            transition: calc($duration * 2);
            
            @media (--tablet-more) {
                position: absolute 0;
                z-index: 10;
                
                background: color($color__blue l(+5%));
                color: $color__white;
                
                opacity: 0;
            }
            @media (--tablet-less) {
                margin-bottom: .5em;
                
                justify-content: flex-start;
            }
        }
	}
}