<div class="pagination">
    <a href="#" class="pagination__prev"></a>
    <span class="pagination__numb _active">1</span>
    <a href="#" class="pagination__numb">2</a>
    <a href="#" class="pagination__numb">3</a>
    <span class="pagination__dots"></span>
    <a href="#" class="pagination__numb">7</a>
    <a href="#" class="pagination__next"></a>
</div>