$pagination__gutter: calc($gutter_secondary / 2);
$pagination__arrow_width: 6px;
$pagination__arrow_height: 10px;
$pagination__opacity: .4;
.pagination{
    
    @extend small;
    
    font-weight: 500;
    
    color: color(black a($pagination__opacity));
    
    display: flex;
    align-items: center;
    justify-content: center;
	
	// elements
	&__{
		&dots{
            &:after{
                content: '…';
            }
        }
        &prev,
        &next,
        &numb{
            &:hover{
                color: $color__secondary;
            }
            &._active{
                color: $color__font_primary;
            }
        }
        &numb{
            margin: 0 $pagination__gutter;
        }
        &prev,
        &next{
            size: 6px 10px;
            margin: 0 $pagination__gutter;
        }
        &prev{
            background: svg(arrow-left);
        }
        &next{
            background: svg(arrow-right);
        }
	}
}